/* Réinitialisation des styles par défaut des navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style pour l'en-tête (header) */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header img{
    width: 100px;
    height: 100px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding: 20px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style pour le logo */
header div {
    margin-right: 20px;
}

/* Style pour le contenu principal */
/* Style pour la section principale */
main {
    max-width: 800px; /* Largeur maximale du contenu principal */
    margin: 0 auto; /* Centrer le contenu */
    padding: 20px; /* Espacement interne */
  }
  
  /* Style pour la section "Bienvenue" */
  .welcome {
    background-color: #f8f8f8; /* Couleur d'arrière-plan */
    padding: 20px;
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 20px; /* Espacement en bas */
  }
  
  .welcome h2 {
    font-size: 24px; /* Taille de la police pour le titre */
    margin-bottom: 10px; /* Espacement en bas du titre */
  }
  
  /* Style pour la section "Articles récents" */
  .articles {
    background-color: #fff; /* Couleur d'arrière-plan */
    padding: 20px;
    border-radius: 5px; /* Coins arrondis */
  }
  
  .articles h2 {
    font-size: 24px; /* Taille de la police pour le titre */
    margin-bottom: 20px; /* Espacement en bas du titre */
  }
  
  /* Style pour chaque article récent */
  .articles article {
    margin-bottom: 20px; /* Espacement entre les articles */
  }
  
  .articles h2,
  .articles p {
    margin-bottom: 10px; /* Espacement entre le titre et le contenu */
  }
  
  .articles img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style pour les liens "Modifier" et "Supprimer" */
  .articles a {
    text-decoration: none;
    color: #007bff; /* Couleur du lien */
    margin-right: 10px; /* Espacement à droite */
  }
  
  .articles a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }
  

/* Style pour le pied de page (footer) */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Style pour les liens de navigation actifs */
header nav ul li.active a {
    color: #007bff;
}


